/cmake-build-*/
/.idea/
/build/
/out/
.vscode/
.vs/
build-emscripten-debug
build-emscripten-release
build-emscripten
venv

## Ignore prototyping and testing assets I don't have distribution licenses to:
assets/prototyping/superpowers*
assets/vector/*.svg

## Ignore my asset source files:
*.aseprite
*.blend
*.kenshape

